html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
  font-family: "https://fonts.googleapis.com/css2?family=Rubik&display=swap";
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ---------------СБОРС-------------- */

.container {
  width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #fff3e9;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  align-items: center;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 430px;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  position: relative;
  left: 280px;
}

.yellowButton {
  min-width: 139px;
  height: 44px;
  background-color: #e67e22;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px;
}

h1 {
  font-size: 44px;
  color: #1e1d1d;
  font-family: sans-serif;
  font-weight: 700;
  width: 478px;
  height: 171px;
}

.textContent .textPcontent {
  font-family: sans-serif;
  font-size: 23px;
  color: #000000a9;
  width: 540px;
  height: 96px;
  margin-bottom: 20px;
  line-height: 35px;
}

.whiteButton {
  min-width: 139px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  color: #555555;
  border: none;
  padding: 10px;
  margin-left: 20px;
}
.customers {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.customersPhoto {
  display: flex;
  align-items: center;
  width: 200px;
}

.customersimg2 {
  position: relative;
  left: -22px;
}
.customersimg3 {
  position: relative;
  left: -42px;
}
.customersimg4 {
  position: relative;
  left: -62px;
}
.customersimg5 {
  position: relative;
  left: -82px;
}
.customersimg6 {
  position: relative;
  left: -102px;
}
.deliveryInfo {
  font-family: sans-serif;
  font-size: 20px;
  color: #000000c4;
}
.deliveryInfo span {
  color: #e67e22;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}

.photoContent {
  position: relative;
  top: 0px;
  width: 500px;
  height: 665px;
}

.firstFoodPhoto {
  position: relative;
  top: 55px;
  left: 76px;
}

.secondFoodPhoto {
  position: relative;
  top: -115px;
  left: 180px;
}

.thirdFoodPhoto {
  position: relative;
  top: -250px;
  left: -50px;
}
main {
  background-color: #f6f7f8;
}

.partnersIcon {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
}

.partners {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 50px;
}
.partners p {
  font-size: 17px;
  color: #00000092;
}

.tutorial {
  padding-top: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.tutorialLesson {
  display: flex;
  justify-content: space-between;
}
.first {
  margin-bottom: 100px;
}
.second {
  margin-bottom: 100px;
}

.third {
  margin-bottom: 100px;
}

.howItWorks {
  font-size: 16px;
  color: #e67e22;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.tutorial h2 {
  font-size: 35px;
  font-family: sans-serif;
  color: #000000c1;
  font-weight: 900;
  margin-bottom: 70px;
}

.nubmer {
  font-size: 70px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(179, 174, 174, 0.474);
  margin-bottom: 20px;
}
.tutorialteletext {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 900;
  color: #000000e0;
  margin-bottom: 40px;
}
.tutorialteletexttwo {
  font-family: sans-serif;
  font-size: 22px;
  color: #000000ab;
  width: 533px;
  height: 96px;
  line-height: 45px;
}

.tutorialp02 {
  width: 550px;
}

.tutorialLesson.second {
  flex-direction: row-reverse;
}

.testimonialsBox {
  width: 280px;
  height: 300px;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
  padding-top: 50px;
}

.testimonialsTextContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  box-sizing: border-box;
  padding-left: 120px;
  margin-top: 50px;
}
.testimonialstextyP {
  display: block;
}
.testimonialsPtexty {
  color: #e67e22;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.textyPendmonials {
  color: rgba(0, 0, 0, 0.779);
  font-size: 32px;
  font-weight: 800;
  font-family: sans-serif;
}
.CustomerPhoto {
  margin-bottom: 20px;
}
.testiContent p {
  font-size: 17px;
  color: #555555;
  font-family: sans-serif;
  margin-bottom: 20px;
  width: 220px;
  line-height: 25px;
}
.testiName {
  color: #999494;
  font-size: 17px;
  font-family: sans-serif;
}

.testimonialsPhotoContent {
  width: 50%;
  text-align: end;
  margin-right: 30px;
}
.testimonialsPhotoContent img {
  margin: 10px;
}

.testiBoxContatner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.mealBoxesContainer {
  display: flex;
  justify-content: space-between;
}

.mealContainer {
  padding-left: 120px;
  padding-right: 150px;
  margin-bottom: 100px;
}
.mealPtextmealsgolo {
  display: flex;
  justify-content: center;
  color: #e67e22;
  font-size: 17px;
  font-weight: 600;
  font-family: sans-serif;
  margin: 20px;
}
.mealPtextmealsnumber2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #000000cc;
  font-weight: 900;
  font-family: sans-serif;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 40px;
}
.textinfomeal span {
  color: black;
  font-weight: 700;
}

.mealBox {
  background-color: white;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 18px;
  padding-bottom: 20px;
}
.mealposition {
  position: relative;
  left: -60px;
}
.mealvegatarianbuttons {
  border-color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #51cf66;
  border-radius: 10px;
  margin: 20px;
  padding: 5px 10px;
}
.mealPALEObuttons {
  background-color: #f2c94c;
  border-radius: 10px;
  border-color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 5px 10px;
}
.mealtwotextboxing {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 20px;
  margin-bottom: 20px;
}
.textinfomeal {
  font-size: 17px;
  font-weight: mixed;
  font-family: sans-serif;
  margin-left: 20px;
  color: #878787;
}
.textinfomeal p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.textinfomeal img {
  margin-right: 15px;
}

.mealInfo {
  position: relative;
  left: -100px;
}
.mealInfo p {
  font-size: 32px;
  font-weight: 900;
  font-family: sans-serif;
  color: #000000e5;
  margin-bottom: 30px;
}
.mealInfo ul {
  font-size: 19px;
  color: #555555;
  font-family: sans-serif;
  font-weight: 400;
}
.mealInfo li {
  margin-bottom: 20px;
}
.mealInfo img {
  margin-right: 20px;
}

.Pricingcontentboxy {
  padding: 50px 80px;
}

.Pricingptema {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 700;
  color: #e67e22;
  margin-bottom: 30px;
}
.Pricingcontentptext {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 900;
  color: #000000c7;
  margin-bottom: 100px;
}
.Pricingboxyng {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}
.Pricingbox {
  border: 2px solid rgba(251, 80, 18, 0.702);
  border-radius: 15px;

  overflow: hidden;
  padding: 50px 70px;
}
.Pricingboxstarter {
  color: #e67e22;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}
.boxyngprice {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.backs {
  display: flex;
  color: #333333;
  font-size: 32px;
  font-weight: bold;
  align-items: self-end;
  height: 50px;
  margin-right: 5px;
}

.money {
  font-size: 56px;
  font-weight: bold;
  font-family: sans-serif;
}
.komentpricing {
  display: flex;
  justify-content: center;
  color: #555555;
  font-size: 17px;
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.komentgmargin {
  margin-bottom: 55px;
}

.infopricing ul {
  font-size: 19px;
  color: #555555;
  font-family: sans-serif;
}
.infopricing li {
  margin-bottom: 15px;
}
.infopricing img {
  margin-right: 20px;
}

.pricebuttons {
  display: flex;
  justify-content: center;
}

.buttonsPosition {
  margin-top: 30px;
  cursor: pointer;
}

.endcomplete {
  border-color: #feecde;
  border-radius: 15px;
  background-color: #feecde;
  overflow: hidden;
}
.ugoltext {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #f2c94c;
  padding: 10px 20px;
  position: relative;
  width: 130px;
  text-align: center;
  top: -170px;
  left: 215px;
  transform: rotate(45deg);
  flex-shrink: 0;
}

.getour {
  display: flex;
  background-color: #e98f40;
  border-radius: 15px;
}
.musor {
  padding-left: 70px;
  margin-top: 50px;
}
.getourtema {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 800;
  color: #45260a;
  margin-bottom: 50px;
}
.ptextygetour {
  color: #45260a;
  font-size: 24px;
  width: 765px;
  font-family: "https://fonts.googleapis.com/css2?family=Rubik&display=swap";
  margin-top: 80px;
  line-height: 40px;
  margin-bottom: 40px;
}
.getourinputsfirst {
  display: flex;
}

.getour label {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #45260a;
  padding-left: 5px;
  margin-bottom: 10px;
}
.getour input {
  border-radius: 15px;
  border: 5px solid #f4c7a0;
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.inputgetourtwo {
  margin-left: 30px;
}
.getourinputs select {
  border-radius: 15px;
  border: 5px solid #f4c7a0;
  width: 320px;
  height: 60px;
  font-size: 18px;
  padding-left: 10px;
}

.getourinputs option {
  color: #aaaab0;
}
.getourbuttons {
  background-color: #45260a;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  width: 320px;
  height: 60px;
  border-radius: 15px;
  margin-left: 30px;
  cursor: pointer;
}

.getour img {
  display: flex;
  width: 455px;
  height: 500px;
  position: relative;
  left: 150px;
}
.getourinputs input:focus {
  outline: 5px solid #f4c79f;
}

footer {
  border-top: 1px solid #ddd;
  padding: 88px 147px;
  display: flex;
  gap: 30px;
  color: #555;
}

.logo {
  margin-bottom: 40px;
}

.copyright {
  width: 200px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 200px;
}

.footer-title {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
}

.footer-list {
  width: 200px;
}

.footer-list p {
  margin-bottom: 24px;
}

.footer-list li {
  margin: 0 0 20px;
  cursor: pointer;
}

.footer-list li:hover {
  color: #272727;
}
@media (max-width: 375px) {
  nav {
    display: none;
  }

  .headerContent {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .headerContent h1 {
    width: 400px;
    height: 100px;
    font-size: 29px;
  }
  .headerContent p {
    width: 350px;
    margin-bottom: 30px;
  }
  header {
    padding: 0px;
  }
  .firstFoodPhoto {
    width: 187px;
    height: 208px;
    top: 7px;
    left: 90px;
  }
  .secondFoodPhoto {
    width: 195px;
    height: 156px;
    top: 44px;
    left: -33px;
  }
  .thirdFoodPhoto {
    width: 244px;
    height: 162px;
    top: -50px;
    left: 12px;
  }
  .photoContent {
    max-height: 390px;
  }
  .tutorial {
    padding: 0px;
  }
  .partnersIcon img {
    width: 50px;
    height: 20px;
  }

  .tutorial h2 {
    font-size: 28px;
  }
  .tutorialLesson {
    flex-direction: column-reverse;
  }
  .tutorialLesson.second {
    flex-direction: column-reverse;
  }
  .tutorialPhotocontent img {
    width: 230px;
    height: 270px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mealContainer p {
    width: 470px;
  }
  .mealPtextmealsnumber2 {
    height: 150px;
  }

  .mealBoxesContainer {
    display: flex;
    flex-direction: column;
  }

  .mealposition {
    margin-left: 55px;
    margin-top: 20px;
  }

  .mealBoxesContainer {
    width: 343px;
    height: 500px;
  }
  .mealInfo {
    margin-bottom: 300px;
  }
}
